<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> Contact page
  is a project to create new static page with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  is the sample application for the tutorial.
</p>